<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta charset="UTF-8" />
    <title>cub</title>
</head>
<body ng-app="cubApp" ng-controller="cubController" ng-keydown="keypress($event)">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <h4 id="title">
            Cub
            <div class="pull-right">
                <a ng-click="reset()" target="blank">Solve</a> |
                <a ng-click="newScramble()" target="blank">Scramble</a> |
                <a href="http://ruwix.com/the-rubiks-cube/notation/" target="blank">Notation</a>
            </div>
        </h4>
    </div>
</nav>
<div class="centered">
    <svg width="300" height="300" viewBox="0 0 300 300">
        <g transform="scale(2) translate(5 34) rotate(-22 0 0) skewX(-22)" style="stroke:black" stroke-opacity="0.5" fill-opacity="0.5">
            <rect x="0" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.LUF}}"></rect>
            <rect x="0" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.LF}}"></rect>
            <rect x="0" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.LFD}}"></rect>
            <rect x="25" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.LU}}"></rect>
            <rect x="25" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.L}}"></rect>
            <rect x="25" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.LD}}"></rect>
            <rect x="50" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.LBU}}"></rect>
            <rect x="50" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.LB}}"></rect>
            <rect x="50" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.LDB}}"></rect>
        </g>
        <g transform="scale(2) translate(75 7) rotate(22 0 0) skewX(22)" style="stroke:black" stroke-opacity="0.5" fill-opacity="0.5">
            <rect x="0" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.BUL}}"></rect>
            <rect x="0" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.BL}}"></rect>
            <rect x="0" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.BLD}}"></rect>
            <rect x="25" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.BU}}"></rect>
            <rect x="25" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.B}}"></rect>
            <rect x="25" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.BD}}"></rect>
            <rect x="50" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.BRU}}"></rect>
            <rect x="50" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.BR}}"></rect>
            <rect x="50" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.BDR}}"></rect>
        </g>
        <g transform="scale(2) translate(73 88) rotate(43 0 0) skewX(-25) skewY(-25) scale(0.79, 0.9)" style="stroke:black" stroke-opacity="0.5" fill-opacity="0.5">
            <rect x="0" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.DBL}}"></rect>
            <rect x="0" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.DL}}"></rect>
            <rect x="0" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.DLF}}"></rect>
            <rect x="25" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.DB}}"></rect>
            <rect x="25" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.D}}"></rect>
            <rect x="25" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.DF}}"></rect>
            <rect x="50" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.DRB}}"></rect>
            <rect x="50" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.DR}}"></rect>
            <rect x="50" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.DFR}}"></rect>
        </g>
        <g transform="scale(2) translate(77 62) rotate(-22 0 0) skewX(-22)" style="stroke:black" stroke-opacity="0.8" fill-opacity="0.95">
            <rect x="0" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.RFU}}"></rect>
            <rect x="0" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.RF}}"></rect>
            <rect x="0" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.RDF}}"></rect>
            <rect x="25" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.RU}}"></rect>
            <rect x="25" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.R}}"></rect>
            <rect x="25" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.RD}}"></rect>
            <rect x="50" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.RUB}}"></rect>
            <rect x="50" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.RB}}"></rect>
            <rect x="50" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.RBD}}"></rect>
        </g>
        <g transform="scale(2) translate(73 5) rotate(43 0 0) skewX(-25) skewY(-25) scale(0.79, 0.9)" style="stroke:black" stroke-opacity="0.8" fill-opacity="0.95">
            <rect x="0" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.ULB}}"></rect>
            <rect x="0" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.UL}}"></rect>
            <rect x="0" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.UFL}}"></rect>
            <rect x="25" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.UB}}"></rect>
            <rect x="25" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.U}}"></rect>
            <rect x="25" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.UF}}"></rect>
            <rect x="50" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.UBR}}"></rect>
            <rect x="50" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.UR}}"></rect>
            <rect x="50" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.URF}}"></rect>
        </g>
        <g transform="scale(2) translate(7 35) rotate(22 0 0) skewX(22)" style="stroke:black" stroke-opacity="0.8" fill-opacity="0.95">
            <rect x="0" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.FLU}}"></rect>
            <rect x="0" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.FL}}"></rect>
            <rect x="0" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.FDL}}"></rect>
            <rect x="25" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.FU}}"></rect>
            <rect x="25" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.F}}"></rect>
            <rect x="25" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.FD}}"></rect>
            <rect x="50" y="0" rx="1" ry="1" width="23" height="23" style="fill:{{cub.FUR}}"></rect>
            <rect x="50" y="25" rx="1" ry="1" width="23" height="23" style="fill:{{cub.FR}}"></rect>
            <rect x="50" y="50" rx="1" ry="1" width="23" height="23" style="fill:{{cub.FRD}}"></rect>
        </g>
    </svg>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 centered" ng-show="cubSolved">
                <h1>Solved</h1>
            </div>
            <div class="col-sm-6 controls">
                <ul class="movesButtonsList">
                    <li class="movesButtonsListElement" ng-repeat="move in moves.faceMoves">
                        <div class="btn-group-vertical movesButtonGroup">
                            <button type="button" class="btn btn-default movesButton" ng-click="performMoves(move)" ng-bind="move"></button>
                            <button type="button" class="btn btn-default movesButton" ng-click="performMoves(move + '\'')" ng-bind="move + '\''"></button>
                            <button type="button" class="btn btn-default movesButton" ng-click="performMoves(move + '2')" ng-bind="move + '2'"></button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 controls">
                <ul class="movesButtonsList">
                    <li class="movesButtonsListElement" ng-repeat="move in moves.sliceMoves">
                        <div class="btn-group-vertical movesButtonGroup">
                            <button type="button" class="btn btn-default movesButton" ng-click="performMoves(move)" ng-bind="move"></button>
                            <button type="button" class="btn btn-default movesButton" ng-click="performMoves(move + '\'')" ng-bind="move + '\''"></button>
                            <button type="button" class="btn btn-default movesButton" ng-click="performMoves(move + '2')" ng-bind="move + '2'"></button>
                        </div>
                    </li>
                    <li class="movesButtonsListElement" ng-repeat="move in moves.rotations">
                        <div class="btn-group-vertical movesButtonGroup">
                            <button type="button" class="btn btn-default movesButton" ng-click="performMoves(move)" ng-bind="move"></button>
                            <button type="button" class="btn btn-default movesButton" ng-click="performMoves(move + '\'')" ng-bind="move + '\''"></button>
                            <button type="button" class="btn btn-default movesButton" ng-click="performMoves(move + '2')" ng-bind="move + '2'"></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
