@media (max-width: 450px) {  svg {  width:95%;  }  }
@media (min-width: 450px) and (max-width: 768px) {  svg {  width:75%;  }  }
@media (min-width: 768px) and (max-width: 992px) {  svg {  width:60%;  }  }
@media (min-width: 992px) and (max-width: 1200px) {  svg {  width:50%;  }  }
@media (min-width: 1200px) {  svg {  width:35%;  }  }

svg {
    height:100%;
}

.navbar, .navbar-default {
    min-height:30px;
    margin-bottom:0px;
    border-radius:0px;
}

#title {
    margin-top:5px;
    margin-bottom:5px;
}

.titleLabel {
    margin:0px;
}

.centered {
    text-align:center;
}

.controls {
    padding:0px;
    margins:0px;
}

.movesButtonsList {
    display:inline;
    list-style-type:none;
    padding:0px;
    margins:0px;
}

.movesButtonsListElement {
    display:inline;
    width:30px;
}

.movesButtonGroup {
    width:10%;
    margin-top:5px;
    margin-bottom:5px;
}

.movesButton {
    padding:0px;
}
