.navbar, .navbar-default {
    min-height:30px;
    margin-bottom:30px;
    border-radius:0px;
}

#title {
    margin-top:5px;
    margin-bottom:5px;
}

.centered {
    text-align:center;
}

.movesButtonsList {
    list-style-type:none;
}

.movesButton {
    height:50px;
    width:50px;
    margin:5px;
}
